* {
  box-sizing: border-box;
}
body {
  background: #9ffce0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coffee-mug {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #3f2616;
  border-radius: 100px;
  box-shadow: 0px 0px 0px 10px #442918, 0px 0px 0px 25px #3c2415,
    0px 0px 0px 44px #fe9407, 0px 0px 0px 65px #feaa3a, 0px 0px 0px 44px #ec7d38,
    0px 120px 0px -20px #3f2616, 120px 70px 0px -25px #3f2616,
    80px 140px 0px -10px #3f2616, 0 210px 0 -50px #3f2616,
    20px 250px 0 -65px #3f2616;
}
.coffee-mug::after {
  content: "";
  position: absolute;
  height: 75px;
  width: 60px;
  background-color: #feaa3a;
  top: -85px;
  right: -75px;
  transform: rotate(45deg);
}
